.home-container {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin: 1em 0 0.5em 0;
    padding: 0.5em;
    font-size: 2.5rem;
    font-weight: bold;
  }

  img {
    flex: 1;
    height: 50vh;
    max-width: 95vw;
  }
}

@media only screen and (min-width: 768px) {
  .home-container::after {
    content: "";
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    background: #a28ad2;
  }
}
