<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    id="email"
    class="fadeIn second"
    name="email"
    formControlName="email"
    placeholder="Email..."
  />
  <input
    type="text"
    id="username"
    class="fadeIn second"
    name="username"
    formControlName="username"
    placeholder="Username..."
  />
  <input
    type="password"
    id="password"
    class="fadeIn third"
    name="password"
    formControlName="password"
    placeholder="Password..."
  />
  <input
    type="password"
    id="confirm-password"
    class="fadeIn third"
    name="confirm-password"
    formControlName="confirmPassword"
    placeholder="Confirm Password..."
  />
  <input type="submit" class="fadeIn fourth" value="Sign Up" />
</form>
