#nav {
  z-index: 1;
}

nav .navbar-nav li a {
  color: white !important;
  transition: color 250ms ease-out;

  &:hover,
  &:focus {
    color: #ff8fa3 !important;
  }
}

.dropdown-menu, .dropdown-item:hover{
  background: #333 !important;
}

#logo {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #ff8fa3;
}
